<div class="row">
  <div class="col-12 col-sm-12">
    Built on <a href="https://aideadlin.es">ai-deadlines</a> (by abhshkdz, 2016-2021)
    via the <a href="https://github.com/casys-kaist/casys-kaist.github.io">KAIST CASYS fork</a>.
    Deadlines marked <b>projected</b> are estimates from the previous edition and may be wrong &mdash;
    always confirm on the official CFP page before you rely on one.
    Corrections via <a href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}">pull request</a> are welcome.
  </div>
</div>
